html {
    box-sizing: content-box;
}

html * {
    box-sizing: inherit;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-family: 'Source Code Pro', monospace;
    padding: 22px 35px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

header input {
    outline: none;
    border: solid 1px #eee;
    padding: 10px 5px;
    border-radius: 7px;
    font-size: 16px;
}

header input:hover {
    border: solid 1px rgb(160, 182, 255);
}

.restart {
    cursor: pointer;
}

@media (max-width: 420px) {
    header {
        padding: 15px;
    }
    header input {
        border-radius: 7px;
        width: 75px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}